#headerAndButtons{background-color:rgba(245,245,245,1);width:100%;height:135px;}
#uheaderAndButtons{background-color:rgba(245,245,245,1);width:1000px;height:100%;position:relative;}

#buttonRow{
	margin:0;
	position:relative;
	top:2px;
	left:1613px;
	height:38px;
}

#button1,#button2,#button3,#button4{
	width:100px;
	height:38px;
	background:none;
	padding-top:1px;
	padding-bottom:0px;
	padding-left:5px;
	padding-right:12px;
	border-style:solid;
	border-right-width:1px;
	border-left-width:0px;
	border-top-width:0px;
	border-bottom-width:0px;
	border-color:white;
	font-size:14px;
	color:white;
	font-family:"Verdana";
	cursor:pointer;
}

#button1{border-style:solid;border-left-width:1px;}

#strip{
	height:42px;
	width:2500px;
	background:linear-gradient(bottom, #303030 50%, #3A3A3A 50%);
	background:-o-linear-gradient(bottom, #303030 50%, #3A3A3A 50%);
	background:-moz-linear-gradient(bottom, #303030 50%, #3A3A3A 50%);
	background:-webkit-gradient(linear, center bottom, center top, from(#303030), to(#3A3A3A));
	background:-webkit-linear-gradient(bottom, #303030 50%, #3A3A3A 50%);
	background:-ms-linear-gradient(bottom, #303030 50%, #3A3A3A 50%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#303030', endColorstr='#3A3A3A');
	border-radius:5px;
	behavior:url(border-radius.php);
	margin:0;
	position:absolute;
	left:-1500px;
	top:66px;
	-moz-box-shadow: 5px 5px 5px #888;
	box-shadow: 3px 3px 5px #888;
}

#logo{
	width:94px; 	
	height:94px;
	position:absolute;
}
#logoBack{
	cursor:pointer;
	width:94px;
	height:94px;
	position:absolute;
	top:21px;
	background:#222222;
	border-radius:6px;
	box-shadow:1px 1px 5px #888;
	behavior:none;
}

#revivedText{
	position:absolute;
	width:200px;
	height:40px;
}
#revivedTextBack{
	position:absolute;
	top:26px;
	left:110px;
	width:200px;
	height:35px;
	background:none;
	cursor:pointer;
}
